<?xml version="1.0"?>
<!--
  Copyright © Shopwalk Inc. All rights reserved.
  Licensed under GPL-2.0-or-later.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Shopwalk_Ucp" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_Quote"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Webapi"/>
            <module name="Magento_Config"/>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>
