<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:app:etc/routes.xsd">
    <router id="standard">
        <route id="shopwalk_ucp" frontName="shopwalk_ucp">
            <module name="Shopwalk_Ucp"/>
        </route>
    </router>
</config>
