<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="shopwalk" translate="label" sortOrder="500">
            <label>Shopwalk</label>
        </tab>
        <section id="shopwalk_ucp" translate="label" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>UCP Settings</label>
            <tab>shopwalk</tab>
            <resource>Shopwalk_Ucp::config</resource>
            <group id="general" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>Enable or disable the Shopwalk UCP module.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>shopwalk/ucp/enabled</config_path>
                </field>
                <field id="license_key" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>License Key</label>
                    <comment>Enter your Shopwalk license key.</comment>
                    <config_path>shopwalk/ucp/license_key</config_path>
                </field>
                <field id="api_url" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API URL</label>
                    <comment>Shopwalk API endpoint URL.</comment>
                    <config_path>shopwalk/ucp/api_url</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
